---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

## Instructor
<ul>
	<li>Math 2280: Introduction to Differential Equations -- Summer 2018</li>
	<li>Math 1320: Engineering Calculus II -- Spring 2018, Fall 2018, Spring 2019</li>
	<li>Math 1311: Accelerated (Honors) Engineering Calculus I -- Fall 2017</li>
	<li>Math 1220: Calculus II -- Summer 2016</li>
	<li>Math 2250: Differential Equations and Linear Algebra -- Spring 2016, Spring 2017</li>
	<li>Math 1060: Trigonometry -- Fall 2015 </li>
    <li>Math 1090: College Algebra for Business and Social Sciences -- Spring 2015</li>
</ul>

## Teaching Assistant
<ul>
	<li>Math 1320: Engineering Calculus II -- Spring 2014</li>
	<li>Math 2250: Differential Equations and Linear Algebra -- Fall 2013, Fall 2014, Fall 2016</li>
</ul>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
